extends ../layout.pug

block content
  h2 Mr.Coffee schedule
  div(class="table schedule-table")
    div(class="table-title") User
    div(class="table-title") Day
    div(class="table-title") Start time
    div(class="table-title") End time
    each schedule in schedules
      div(class="table-field")= `${users[schedule.user_id].firstname} ${users[schedule.user_id].lastname}`
      div(class="table-field")= schedule.day
      div(class="table-field")= schedule.start_at
      div(class="table-field")= schedule.end_at